/* .home {
  display: flex;
  width: 97%;
  background: black;
  padding: 25px;
  margin: auto;
  margin-top: 60px;
  border-radius: 25px;
}
.firstCard {
  width: fit-content;
  margin: auto;
  border: 0px solid #202c3c;
}
.secondCard {
  width: fit-content;
  margin: auto;
  background: none;
}
.img {
  background-color: #202c3c;
  border: 0px;
} */
