/* .home {
  background: black;
} */

/* .firstCard {
  width: fit-content;
  margin: auto;
  border: 0px solid #202c3c;
}
.secondCard {
  width: fit-content;
  margin: auto;
  background: none;
}
.img {
  background-color: #202c3c;
  border: 0px;
} */
